@using Models
@using f1bets.ViewModels
@model ResultsViewModel

<div class="jumbotron">
    <h1>@Model.Competition.Name</h1>
    <h3>@Model.Competition.Date | @Model.Competition.Circuit.Name</h3>
    @if (Model.Competition.Date > DateTime.Now)
    {
        <p><a class="btn btn-primary btn-lg" asp-controller="Prediction" asp-action="MakePrediction" role="button">Place Prediction</a></p>
    }
</div>


<div class="panel panel-default">
    <div class="panel-heading">Circuit information</div>
    <div class="panel-body">
        <p>@Model.Competition.Circuit.Name</p>
        <p>@Model.Competition.Circuit.Location | @Model.Competition.Circuit.Nationality.Name</p>

        <p>Laprecord: <span class="h6 label label-primary">@Model.Competition.Circuit.Laprecord.ToString(@"mm\:ss\.fff")</span></p>
    </div>
</div>

@if (Model.Competition.Date < DateTime.Now)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Driver
                </th>
                <th>
                    Position
                </th>
                <th>
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}